.container{
    border-radius: 10px;
    border-color:#fdfef9;
    box-shadow: 0 4px 8px rgba(248, 248, 248, 0.89);
    background-color: #1570ad61;
    padding: 20px;
    position: relative;

}

h1,label{
  color:#fb9301ee;
  font-weight: bold;

}
.btn{
  background-color: #fb9301ee;
}
.btn:hover{
  background-color: #fdfef9;
  color:#fb5e01;
  }



.comic-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #f18a2e;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.comic-button:hover {
  background-color: #fff;
  color: #11578e;
  border: 2px solid #f18a2e;
  box-shadow: 5px 5px 0px #f18a2e;
}

.comic-button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}

span{
  color:#fff;
}
