<div class="container mt-5">
  <h1 class="text-center">Aggiungi Prodotto</h1>
  <form  [formGroup]="prodottoForm" (ngSubmit)="onSubmit()">
    <div class="py-3 form-group">
      <label for="nomeProdotto">Nome Prodotto</label>
      <input id="nomeProdotto" class="form-control" formControlName="nomeProdotto">
    </div>
    <div class="py-3 form-group">
      <label for="descrizione">Descrizione</label>
      <textarea id="descrizione" class="form-control" formControlName="descrizione"></textarea>
    </div>
    <div class="py-3 form-group">
      <label for="prezzo">Prezzo</label>
      <input id="prezzo" type="number" class="form-control" formControlName="prezzo">
    </div>
    <div class="py-3 form-group">
      <label for="image">Carica Immagine </label>
      <div>
      <input type="file" id="image" (change)="onFileSelected($event)">
      <button class="comic-button" type="button" (click)="uploadImage()">Carica Immagine</button>
      <span *ngIf="imageUploaded" class="ms-3">Immagine caricata ☑️</span>
    </div>
    </div>
    <div class="form-group">
      <label for="categoriaId">Categoria</label>
      <select id="categoriaId" class="form-control" formControlName="categoriaId">
        <option *ngFor="let categoria of categorie" [value]="categoria.id">{{ categoria.descrizione }}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Aggiungi Prodotto</button>
  </form>
</div>
