
body{
  background-color: #0F101C;
  background-image: url(../src/assets/img/background.jpg);
  background-size: cover;
  background-attachment: fixed;

}
.sms{
  background-color: #fb9f018d;
  color: #093552f6;
  border-radius: 10px;
  font-size: 1.8rem;
  font-weight: bold;
}
.modal-content {
  background-color: #fb9f01ee;
  color: #093552f6;
  text-align: center;
}

.modal-backdrop.show {
  opacity: 0.5;
}

