$primary: #6D1666;
$secondary: #801C8A;
$success: #303aad;
@import 'bootstrap/scss/bootstrap';


body{
  background-color: #0F101C;
  background-image: url(./assets/img/background.jpg);
  background-size: cover;
  background-attachment: fixed;

}
