<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">Register</h2>
          <form (submit)="register()">
            <div class="mb-3">
              <label for="nome" class="form-label">Nome</label>
              <input type="text" class="form-control" [(ngModel)]="nome" name="nome" required>
            </div>
            <div class="mb-3">
              <label for="cognome" class="form-label">Cognome</label>
              <input type="text" class="form-control" [(ngModel)]="cognome" name="cognome" required>
            </div>
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" [(ngModel)]="username" name="username" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" [(ngModel)]="email" name="email" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" [(ngModel)]="password" name="password" required>
            </div>

            <div class="mb-3">
              <label for="citta" class="form-label">Città</label>
              <input type="citta" class="form-control" [(ngModel)]="citta" name="citta" required>
            </div>
            <div class="mb-3">
              <label for="tipoIndirizzo" class="form-label">Tipo Indirizzo</label>
              <input type="tipoIndirizzo" class="form-control" [(ngModel)]="tipoIndirizzo" name="tipoIndirizzo" required>
            </div>
            <div class="mb-3">
              <label for="indirizzo" class="form-label">Indirizzo</label>
              <input type="indirizzo" class="form-control" [(ngModel)]="indirizzo" name="indirizzo" required>
            </div>
            <div class="mb-3">
              <label for="civico" class="form-label">civico</label>
              <input type="civico" class="form-control" [(ngModel)]="civico" name="civico" required>
            </div>
            <div class="mb-3">
              <label for="cap" class="form-label">cap</label>
              <input type="cap" class="form-control" [(ngModel)]="cap" name="cap" required>
            </div>
            <div class="mb-3">
              <label for="numeroTelefono" class="form-label">numero Telefono</label>
              <input type="numeroTelefono" class="form-control" [(ngModel)]="numeroTelefono" name="numeroTelefono" required>
            </div>


            <button type="submit" class="btn btn-primary w-100">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
