<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
      <img src="../../../assets/img/logo.jpg" alt="Logo" class="img-fluid mb-3" style="max-width: 80%;">
      <h1 class="display-4 text-white titolo ">MusicEveryWhere</h1>
      <h5 class=" text-white subtitolo ">E-Commerce Music Tools & Rentals</h5>
    </div>
    <div class="col-md-6">
      <div class="row justify-content-center">
        <div class="col-md-10">


          <div class="container  d-flex justify-content-center">
            <div class="card login-card">
              <div class="card-body">
                <h2 class="card-title text-center">Rieccoti tra Noi</h2>
                <p class="text-center">Siamo felici di rivederti</p>
                <form (submit)="login()">
                  <div class="mb-3">
                    <label for="username" class="form-label">Nome utente</label>
                    <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Inserisci il tuo Username" required>
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Inserisci la password" required>
                  </div>
                  <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary ">Accedi</button>
                </div>
                </form>
                <div class="text-center mt-3">
                  <p>Non hai un account? <a routerLink="../register" class="text-decoration-none">Registrati</a></p>
                </div>
              </div>
            </div>
          </div>




        </div>
      </div>
    </div>
  </div>
</div>
