<header class="sticky-top d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 px-3">

  <ul class="nav col-7 col-md-auto mb-2 justify-content-center align-items-center mb-md-0">
    <li *ngIf="isUserLoggedIn"><a  routerLink="/home" class="nav-link  px-4"> Home</a></li>
    <li></li>
    <li *ngIf="isUserLoggedIn"><a  routerLink="/profilo" class="nav-link  px-4"> Profilo</a></li>
    <li></li>
    <li *ngIf="isAdmin"><a  routerLink="/add-prodotto" class="nav-link  px-4"> Aggiungi Prodotto</a></li>
    <li></li>

    <li *ngIf="isAdmin" ><a   routerLink="/edit-prodotto" class="nav-link  px-4"> Modifica Prodotto</a></li>
    <li></li>

    <li *ngIf="isUserLoggedIn"><a  routerLink="/carrello" class="nav-link  px-4"> Carrello</a></li>
    <li></li>
    <li *ngIf="isUserLoggedIn"><a  routerLink="/noleggio" class="nav-link  px-4"> Noleggio</a></li>
    <li></li>
  </ul>

  <div class="col-md-4 text-end">
    <button *ngIf="!isUserLoggedIn"  type="button" routerLink="/auth/login" class="btn  btn-outline-success comic-button me-2">Accedi</button>
    <button *ngIf="!isUserLoggedIn"  type="button" routerLink="/auth/register" class="btn btn-primary comic-button me-2">Registrati</button>
    <button *ngIf="isUserLoggedIn"  (click)="logout()" class="btn  comic-button me-2 ">Esci</button>
  </div>
</header>
